#wrapper {
  /* width: 80%; */
  margin: 20px 20px;
  padding: 0;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#editor-area {
  background-color: rgb(235, 235, 235);
  margin: 0 2% 0 2%;
  min-width: 400px;
  width: 40%;
  height: 400px;
  border: 1px solid #1d5757;
}

#editor-area>label {
  text-align: center;
  display: block;
  width: 100%;
}

#preview {
  background-color: rgb(255, 255, 255);
  min-width: 400px;
  margin: 0 2% 0 2%;
  width: 50%;
  height: 300px;
  border: 1px solid #1d5757;
  display: flex;
  flex-direction: column;
}

#preview>label {
  background-color: rgb(235, 235, 235);
  border-bottom: 1px solid black;
  text-align: center;
}

#editor {
  width: 100%;
  height: 100%;
  padding: 20px;
  resize: vertical;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */