$darkAccent: #224b4b;
@mixin font-style($w, $v, $s) {
  font-weight: $w;
  font-variant: $v;
  font-size: $s;
}

#wrapper {
  /* width: 80%; */
  margin: 20px 20px;
  padding: 0;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#editor-area {
  background-color: rgb(235, 235, 235);
  margin: 0 2% 0 2%;
  min-width: 400px;
  width: 40%;
  height: fit-content;
  border: 1px solid #1d5757;
  box-shadow: 0 0 30px #ccc;
}

#editor-area > label {
  @include font-style(700, small-caps, larger);
  text-align: center;
  display: block;
  width: 100%;
  padding: 7px 0;
}

#preview-area {
  background-color: #fcf1e4;
  min-width: 400px;
  margin: 0 2% 0 2%;
  width: 50%;
  height: fit-content;
  overflow-x: hidden;
  border: 1px solid #1d5757;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 30px #ccc;
  line-height: 2;
}

#preview-area > label {
  @include font-style(700, small-caps, larger);
  background-color: #ffb7b2;
  border-bottom: 1px transparent;
  text-align: center;
  box-shadow: 0 5px 5px #ccc;
}

#preview {
  padding: 20px;

  blockquote {
    border-left: 3px solid $darkAccent;
    color: #224b4b;
    padding-left: 5px;
    margin-left: 25px;
  }

  table,
  td,
  th {
    border: 2px solid $darkAccent;
    padding-left: 5px;
    padding-right: 5px;
    border-collapse: collapse;
  }
  code {
    background: white;
    font-size: 0.875rem;
    font-weight: bold;
    padding: 2px;
  }
  pre {
    display: block;
    overflow: auto;
    background: white;
    padding: 5px;
    line-height: 1.2;
    box-shadow: 3px 3px 5px #ccc;
    border-radius: 5px;
    padding: 10px;
  }
}

#editor {
  width: 100%;
  min-height: 500px;
  padding: 20px;
  resize: vertical;
  min-width: 400px;
}
